@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/*aca unicamente se escribe CSS*/

/*crear una clase*/

/*Selector por etiqueta: Afecta a todos los section*/
section{
    background-color: beige;
}
/*Selector por ID:*/
#secArbitros {
    background-color: blue;
    color: white;
    font-size: 20px; /*fijos px | relativos*/
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    font-style: unset;
}